<launch>
	<param name="use_sim_time" value="true" />
	
	<node pkg="image_view" type="image_view" name="globalmap_view">
      <remap from="image" to="globalImage" />
		<!--remap from="image" to="/mbicp/image" /-->
	</node>
	<node pkg="image_view" type="image_view" name="localmap_view">
      <remap from="image" to="localImage" />
	</node>
	<!--node pkg="image_view" type="image_view" name="testmap_view">
      <remap from="image" to="slamTest" />
	</node-->
	<!--node pkg="image_view" type="image_view" name="image_view">
		<remap from="image" to="/camera/rgb/image_color" />
   </node-->
	
	<node pkg="crosbot_ogmbicp" type="crosbot_ogmbicp" name="crosbot_ogmbicp">
		<param name="odom_frame" value="odom" />
		<param name="base_frame" value="base_footprint" />
      <param name="icp_frame" value="icp_test" />
	</node>

	<node pkg="crosbot_graphslam" type="crosbot_graphslam" name="crosbot_graphslam">
		<param name="base_frame" value="base_footprint" />
      <param name="icp_frame" value="icp_test" />
      <param name="InformationScaleFactor" value ="100000" />
	</node>

	<node pkg="crosbot_3d_graphslam_gpu" type="crosbot_3d_graphslam_gpu" name="crosbot_3d_graphslam_gpu" output="screen">
      <param name="CellSize" value="0.025" />
      <param name="LocalMapHeight" value="3" />
      <param name="MaxDistance" value="4" />

	</node>

   <node pkg="crosbot_3d_graphslam_display" type="crosbot_3d_graphslam_display" name="crosbot_3d_graphslam_display" output="screen" />

	<include file="$(find crosbot_3d_graphslam_gpu)/launch/createPointCloud.launch" />
	
</launch>	
