<launch>
	<!--param name="use_sim_time" value="true" /-->
	
	<node pkg="image_view" type="image_view" name="globalmap_view">
      <remap from="image" to="globalImage" />
		<!--remap from="image" to="/mbicp/image" /-->
	</node>
	<node pkg="image_view" type="image_view" name="localmap_view">
      <remap from="image" to="localImage" />
	</node>
	<!--node pkg="image_view" type="image_view" name="testmap_view">
      <remap from="image" to="slamTest" />
	</node-->
	<!--node pkg="image_view" type="image_view" name="image_view">
		<remap from="image" to="/camera/rgb/image_color" />
   </node-->
	
	<node pkg="crosbot_ogmbicp" type="crosbot_ogmbicp" name="crosbot_ogmbicp">
		<param name="odom_frame" value="odom" />
		<param name="base_frame" value="camera_stabilized" />
      <param name="icp_frame" value="icp_test" />
      <param name="MinAddHeight" value="0.2" />
      <param name="FloorHeight" value="0.0" />
      <param name="CellSize" value="0.05" />
      <param name="LaserMinDist" value="0.1" />
      <param name="MaxAlignDistance" value="0.4" />
      <!--param name="CellSearchDistance" value="5" /-->
      <param name="UseExternalZ" value="true" />
      <param name="InitHeight" value ="0.5" />
      <param name="MaxMoveXYZ" value ="0.5" />
      <param name="MaxMoveTh" value ="0.4" />
      <param name="MinGoodCount" value ="10" />
      <param name="LifeRatio" value ="3" />
      <!--param name="MinCellCount" value ="6" /-->
      <param name="IgnoreZValues" value ="true" />
      <param name="UseSimpleH" value ="true" />
      <param name="MapSize" value ="14" />
      
      <param name="LaserSkip" value="2" />
	</node>

	<node pkg="crosbot_3d_position_track" type="crosbot_3d_position_track" name="crosbot_3d_position_track">
      <param name="icp_frame" value="icp_test" />
      <param name="base_frame" value="camera_stabilized" />
      <param name="PublishTransform" value="true" />
      <param name="PublishMessage" value="true" />
      <param name="SkipPoints" value="4" />
	</node>

	<node pkg="crosbot_graphslam" type="crosbot_graphslam" name="crosbot_graphslam">
		<param name="base_frame" value="camera_stabilized" />
      <param name="icp_frame" value="icp_z" />
      <param name="MinAddHeight" value="0.3" />
      <param name="InitHeight" value ="0.5" />
      <param name="OverlapThreshold" value ="40" />
      <param name="InformationScaleFactor" value ="100000" />
      <param name="UseTempLoopClosures" value ="false" />
	</node>

	<node pkg="crosbot_3d_graphslam_gpu" type="crosbot_3d_graphslam_gpu" name="crosbot_3d_graphslam_gpu" output="screen">
		<param name="base_frame" value="camera_stabilized" />
      <param name="CellSize" value="0.025" />
      <param name="LocalMapHeight" value="3" />
      <param name="MaxDistance" value="3" />
	</node>

   <node pkg="crosbot_3d_graphslam_display" type="crosbot_3d_graphslam_display" name="crosbot_3d_graphslam_display" output="screen" />

	<include file="$(find crosbot_3d_graphslam_gpu)/launch/createPointCloudBoardThrottle.launch" />
	
</launch>	
