<launch>
	<!-- include file="$(find crosbot_explore)/launch/crosbot-fastslam.launch" / -->
	<include file="$(find crosbot_explore)/launch/hector.launch" />
	
	<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />
	
	<include file="$(find crosbot_explore)/launch/explore.launch" />
	
	<node name="move" pkg="crosbot_explore" type="move" >
		<remap from="goal" to="/move_base_simple/goal" />
<rosparam>
  voronoi:
    restrict: 0.20
    partial: 0.25
</rosparam>
	</node>
</launch>
