<launch>
  <arg name="manager" default="pointcloud_manager" />

  <!--node pkg="topic_tools" type="drop" name="drop1" args="/camera/depth/image_raw 2 3" /-->
  <!--node pkg="topic_tools" type="drop" name="drop2" args="/camera/rgb/image_raw 2 3" /-->
  <node pkg="topic_tools" type="drop" name="drop1" args="/camera/depth/image 2 3" />
  <node pkg="topic_tools" type="drop" name="drop2" args="/camera/rgb/image_color 2 3" />

  
  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"
        output="screen" />
  
  <node pkg="nodelet" type="nodelet" name="depth_image_registration"
        args="load depth_image_proc/register $(arg manager)"
        respawn="false">
    <!-- Explicit topic remappings, shouldn't need all of these -->
    <remap from="rgb/camera_info"             to="/camera/rgb/camera_info" />
    <remap from="depth/camera_info"           to="/camera/depth/camera_info" />
    <!--remap from="depth/image_rect"            to="/camera/depth/image" /-->
    
    <!--remap from="depth/image_rect"            to="/camera/depth/image_raw_drop" /-->
    <remap from="depth/image_rect"            to="/camera/depth/image_drop" />
    
    <remap from="depth_registered/camera_info"    to="/camera/depth_registered/camera_info" />
    <remap from="depth_registered/image_rect"     to="/camera/depth_registered/image_raw" />
  </node>
  
</launch>
